<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/bower_components/slick/slick/slick.css" rel="stylesheet">
    <link href="../../static/bower_components/slick/slick/slick-theme.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/css/custom.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <header class="headroom">
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">
           <img alt="Brand" src="../static/images/logo.png">
            </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">首页</a></li>
                <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">人才招聘<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">通知公告</a></li>
                <li><a href="#">工作动态</a></li>
                <li><a href="#">招聘信息</a></li>
              </ul>
            </li>
                <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">人才发展<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">人才队伍</a></li>
                <li><a href="#">博士后</a></li>
              </ul>
            </li>
                <li><a href="#contact">服务指南</a></li>
                <li><a href="#contact">政策制度</a></li>
                <li><a href="#contact">下载中心</a></li>
                <li><a href="#contact">联系我们</a></li>
              </ul>
              <form class="navbar-form navbar-right nav-search-fix" role="search">
      <div class="form-group">
        <div class="input-group">
           <input type="text" class="form-control navbar-search" placeholder="Search for...">
           <span class="input-group-btn">
             <button class="btn btn-default navbar-search" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
           </span>
         </div><!-- /input-group -->
      </div>
    </form>
            </div><!--/.nav-collapse -->
          </div>
        </nav>
    </header>
<!--
    <div class="slides">
      <div><img src="../static/images/carousel.jpg"></div>
      <div><img src="../static/images/carousel.jpg"></div>
      <div><img src="../static/images/carousel.jpg"></div>
    </div>-->
    <div class="header-back" id="content" tabindex="-1">
      <div class="container">
        <div class="row">
        <div class="col-lg-2 col-md-2 col-xs-12 col-sm-3">
        <img src="../static/images/jluwhite.png" class="header-img-fix">
      </div>
      <div class="col-lg-10 col-md-10 col-xs-12 col-sm-9">
        <h1>吉林大学人才办</h1>
        <p>Hire.</p>
      </div>
    </div>
      </div>
    </div>
    <main class="container submain">
      <ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Library</a></li>
  <li class="active">Data</li>
</ol>
      <section class="row">

        <article class="col-lg-9 col-md-9 col-xs-12 col-sm-9">
          <h2>让大学生学霸给中学生上直播课的 “超级学团”，不止想做一个 “提分” 工具</h2>
          <p>
            在 K12 教育中，补差和培优似乎一直是两条背道而驰的道路。与我们读书那个年代不同的是，今天似乎在上培训班的，都是好学生，这可能也说明，想做培优的玩家越来越多。

超级学团也是其中之一，他们的做法非常独特，是通过自建教研体系，邀请成绩优秀、来自名校的大学生（就是学霸）来授课，为中学生提供在线直播课程。这些直播课程是大班形式（2000 人左右的规模），每个直播课程的内容都细化到一个一个的知识点，目前完全免费。

在我的印象里，大学生授课的优缺点并重（我大学时候也当过家教），缺点是对知识点、知识体系以及授课技巧的掌握不足，优点则年龄接近，容易沟通，可以言传身教等——但这些优点似乎在中学生学习中不那么容易见效。

那超级学团为什么还选择大学生来做老师，而且还让他们讲授具体的知识点而非大学生擅长的 1 对 1 解题（甚至是线下陪读辅导）？创始人冯米说，超级学团做手机在线辅导课程，想实现的不是给学生 “提分” 的价值，而是对眼界和成长的帮助。

其实，创业团队做什么、怎么做，其实是和团队对一个行业的理解以及资源禀赋所致。冯米自己认为，教育行业的供给方，收内容讲得最好的一定是公立学校或者教育机构的名师，但从学习者（也就是需求方）来说，学习的最终收获，不是成绩，而是在学习过程中培养学习习惯，对新的事务、知识和信息能够建立天然的兴趣，以及愿意为之付出努力的态度。

冯米认同行业中其他玩家结果导向的思路，但他更想把过程做出来。</p>

<p>“高考其实不是筛选分，而是筛选能达到一个分数的，具备这种能力的人。” 他说。</p>
<p>这个观点在教育公平（也就是抛开各省分数差别的现状）的大背景下是成立的。所以他们挑选的人，就是刚刚有过相似经历的、愿意分享、也愿意付出努力的人——来自名校的学霸们。冯米认为，这个群体的长处足够长，而短板只是暂时的，通过在学习效果方面做体系化的保障，是能够弥补短板的。

按照这个思路，超级学团模式的关键回到了教学内容和教研保障体系——用内容框架保证教学能达到一定的质量，辅以大学生的特长。在实际运营中，大学生老师会接受筛选、试讲和培训，他们自己找到自己擅长的内容，并按照自己的思路做教案，然后和教研团队讨论。

冯米说，目前超级学团能做到的是在拆分知识体系的同时保证知识点之间的逻辑关系，让大学生在讲授知识点的同事，也能够提供一些超越目前知识体系的内容。超级学团内部按照学科为单位行程教研组，由来自教育机构的教研专家提供知识体系，大学生参与教研，最终专家把关。

在这个模式之下，其实超级学团面向的就是有一定学习能力，知道对自己的兴趣或者漏洞做针对性学习的学生了。冯米坦言，超级学团倾向于做培优，而学习态度差、学习习惯差的学生，他们就暂时忽略了。而从我个人的经验而言，有一定学习能力的学生可能会在这个体系中收获颇多。

而正因为此，超级学团使用的是直播模式，强调现场感和互动感。而针对大班的弊病，冯米的设想是在一个班级中构建多个中心（即大学生），改善互动的效果。同时他认为，大多数情况下一个班级的互动，都是基于一些共性的（比如难题），并发性不强，因此百人左右的大班还可以接受，同时这些内容可以沉淀下来为日后教研提供帮助。

目前面向 K12 做在线直播课程有进入红海的趋势，冯米认为，好的内容和体验比流量更重要。他以可汗学院（全球 K12 标杆）为例，可汗学院所有的流量都来自优质内容，一些泛学科的内容具备非常好的逻辑性，而超级学团暂时不做平台，从而掌控内容品质，冯米认为这是他们未来的优势。

我担心的是，大学生群体可能因为考研、工作甚至是留学，导致比较高的流动性，这意味着刚花一段时间培养的资源可能会白白流失。冯米的观点是，流动性意味着新人和新的想法都会进来，虽然这意味着培养教师的成本更高，但也意味着这是一家不会懈怠的公司。而另一方面，招募大学生确实不是一件特别困难的事情，超级学团通过大学社团的方式就做的不错了。

超级学团目前的课程免费，向担任老师的大学生按照课时付费，但也在盈利模式上做了一些尝试，未来考虑对课程收费。冯米认为，只要定价合理，内容足够好，家长和学生都是认同的。</p>

<p>至于个性化学习，冯米认为，在线教育的一大优势在于将共性的学习问题沉淀下来，优先解决这些共性问题（以前这种共性问题的发现是依靠老师的经验来实现的），至于预测学生的知识漏洞，还是下一步才能考虑的。

超级学团目前积累了十多位资深教研团队的成员，课程内容已经覆盖了从初一到高三的语数外理化生等学科，数量达到 500 多个，但不同学科的深度可能还有所差异。</p>

<p>目前超级学团的用户数量达到 14 万，大学生教师的数量也超过 3000 人，公司在今年4月 底获得了 350 万美元的 A 轮融资，红杉资本领投，真格基金跟投。</p>
        </article>
        <aside class="col-lg-3 col-md-3 col-xs-12 col-sm-3">
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">通知公告</a></li>
            <li><a href="#">工作动态</a></li>
            <li><a href="#">招聘信息</a></li>
          </ul>
        </aside>
      </section>
    </main><!-- /.container -->

    <footer>
      <div class="container">
      <div class="row">
      <div class="col-lg-3 col-md-3 col-xs-12 col-sm-6">
      <em>吉林大学 Social Computing Group</em>
      </div>
      <div class="col-lg-3 col-xs-12 col-sm-6">
      <em>吉林大学 Social Computing Group</em>
      </div>
      <div class="col-lg-3 col-xs-12 col-sm-6">
      <em>吉林大学 Social Computing Group</em>
      </div>
      <div class="col-lg-3 col-xs-12 col-sm-6">
      <em>吉林大学 Social Computing Group</em>
      </div>
      </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript" src="../bower_components/slick/slick/slick.min.js"></script>
    <script src="../../static/bower_components/headroom/dist/headroom.min.js"></script>
    <script>
   $('.slides').slick({
     slidesToShow: 3,
  slidesToScroll: 1,
  autoplay: true,
  autoplaySpeed: 2000,
   });
 </script>
  </body>
</html>
