<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/bower_components/slick/slick/slick.css" rel="stylesheet">
    <link href="../../static/bower_components/slick/slick/slick-theme.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/css/custom.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <header class="headroom">
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">
           <img alt="Brand" src="../static/images/logo.png">
            </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">首页</a></li>
                <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">人才招聘<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">通知公告</a></li>
                <li><a href="#">工作动态</a></li>
                <li><a href="#">招聘信息</a></li>
              </ul>
            </li>
                <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">人才发展<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">人才队伍</a></li>
                <li><a href="#">博士后</a></li>
              </ul>
            </li>
                <li><a href="#contact">服务指南</a></li>
                <li><a href="#contact">政策制度</a></li>
                <li><a href="#contact">下载中心</a></li>
                <li><a href="#contact">联系我们</a></li>
              </ul>
              <form class="navbar-form navbar-right nav-search-fix" role="search">
      <div class="form-group">
        <div class="input-group">
           <input type="text" class="form-control navbar-search" placeholder="Search for...">
           <span class="input-group-btn">
             <button class="btn btn-default navbar-search" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
           </span>
         </div><!-- /input-group -->
      </div>
    </form>
            </div><!--/.nav-collapse -->
          </div>
        </nav>
    </header>
<!--
    <div class="slides">
      <div><img src="../static/images/carousel.jpg"></div>
      <div><img src="../static/images/carousel.jpg"></div>
      <div><img src="../static/images/carousel.jpg"></div>
    </div>-->
    <div class="header-back" id="content" tabindex="-1">
      <div class="container">
        <div class="row">
        <div class="col-lg-2 col-md-2 col-xs-12 col-sm-3">
        <img src="../static/images/jluwhite.png" class="header-img-fix">
      </div>
      <div class="col-lg-10 col-md-10 col-xs-12 col-sm-9">
        <h1>吉林大学人才工作办公室</h1>
        <p>Office of Talent Management</p>
      </div>
    </div>
      </div>
    </div>
    <main class="container submain">
      <ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Library</a></li>
  <li class="active">Data</li>
</ol>
      <section class="row">
        <article class="col-lg-9 col-md-9 col-xs-12 col-sm-9">
          <table class="table">
            <thead>
              <tr>
                <th>文章列表</th>
                <th>More</th>
              </tr>
            </thead>
            <tbody>
            <tr>
              <td>专注于东方美学手工艺品</td>
              <td>2015-10-22</td>
            </tr>
            <tr>
              <td>专注于东方美学手工艺品</td>
              <td>2015-10-22</td>
            </tr>
            <tr>
              <td>专注于东方美学手工艺品</td>
              <td>2015-10-22</td>
            </tr>
            <tr>
              <td>专注于东方美学手工艺品</td>
              <td>2015-10-22</td>
            </tr>
            <tr>
              <td>专注于东方美学手工艺品</td>
              <td>2015-10-22</td>
            </tr>
            <tr>
              <td>专注于东方美学手工艺品</td>
              <td>2015-10-22</td>
            </tr>
            <tr>
              <td>专注于东方美学手工艺品</td>
              <td>2015-10-22</td>
            </tr>
            <tr>
              <td>专注于东方美学手工艺品</td>
              <td>2015-10-22</td>
            </tr>
            <tr>
              <td>专注于东方美学手工艺品</td>
              <td>2015-10-22</td>
            </tr>
            <tr>
              <td>专注于东方美学手工艺品</td>
              <td>2015-10-22</td>
            </tr>

          </table>
          <nav>
      <ul class="pagination">
        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
     </ul>
   </nav>
        </article>
        <aside class="col-lg-3 col-md-3 col-xs-12 col-sm-3">
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">通知公告</a></li>
            <li><a href="#">工作动态</a></li>
            <li><a href="#">招聘信息</a></li>
          </ul>
        </aside>
      </section>
    </main><!-- /.container -->

    <footer>
      <div class="container">
      <div class="row">
      <div class="col-lg-3 col-md-3 col-xs-12 col-sm-6">
      <em>吉林大学 Social Computing Group</em>
      </div>
      <div class="col-lg-3 col-xs-12 col-sm-6">
      <em>吉林大学 Social Computing Group</em>
      </div>
      <div class="col-lg-3 col-xs-12 col-sm-6">
      <em>吉林大学 Social Computing Group</em>
      </div>
      <div class="col-lg-3 col-xs-12 col-sm-6">
      <em>吉林大学 Social Computing Group</em>
      </div>
      </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript" src="../bower_components/slick/slick/slick.min.js"></script>
    <script src="../../static/bower_components/headroom/dist/headroom.min.js"></script>
    <script>
   $('.slides').slick({
     slidesToShow: 3,
  slidesToScroll: 1,
  autoplay: true,
  autoplaySpeed: 2000,
   });
 </script>
  </body>
</html>
